/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Nghia Hiep
ID: s3978270
Acknowledgement: Acknowledge the resources that you use here.
https://fonts.google.com/
https://www.wix.com/website/templates/html/online-store/books-publishers
https://www.youtube.com/watch?v=TzjRcwKuXQs&t=9s
https://www.youtube.com/watch?v=t5zFfDdvApE
https://www.betterworldbooks.com/
https://bookshop.org/
--> */
body {
    background-color: #f1f0e8;
    margin: 0px;
    padding: 0px;
}


.cup {
    height: 140px;
    width: 180px;
    border: 6px solid #f1f0e8;
    position: absolute;
    top: 40%;
    left: 43%;
    border-radius: 0px 0px 70px 70px;
    background: url(images/water.png);
    box-shadow: 0px 0px 0px 6px #7895CB;
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 2.5s infinite;
}



@keyframes fill {
    0%{
        background-position: 0px 140px;
    }

    20% {
        background-position: -450px 100px ;
    }

    40% {
        background-position: -900px 50px;
    }

    80% {
        background-position: -1350px -40px;
    }

    100% {
        background-position: 0px 140px;
    }
}

.handle {
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid #7895CB;
    position: relative;
    left: 186px;
    top: 5px;
    border-radius: 0px 25px 80px  0px;

}