/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Nghia Hiep
ID: s3978270
Acknowledgement: Acknowledge the resources that you use here.
https://fonts.google.com/
https://www.wix.com/website/templates/html/online-store/books-publishers
https://www.youtube.com/watch?v=TzjRcwKuXQs&t=9s
https://www.youtube.com/watch?v=t5zFfDdvApE
https://www.betterworldbooks.com/
https://bookshop.org/
--> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  background-color: #f6f1f1;
}

/* Beginning of navigation bar */

#nav_container {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0;
  z-index: 9999;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  background-color: #f1f0e8;
}


.burger_bar {
  display:none;
}

#burger_menu {
  display: none;
}


#nav_container img {
  height: 100px;
}

.nav_info {
  display: flex;
  width: 900px;
  font-family: "Cardo", serif;
  margin-top: 40px;
  font-size: 15pt;
  color: #4682A9;
  justify-content: space-around;
}

#nav_container p:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* End of navigation bar styles */

.header_container {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header_container img {
  margin-top: 30px;
  width: 92%;
  margin-left: 4%;
  height: 100%;
  object-fit: cover;
}


body {
  padding-top: 60px;
}

.category {
  font-family: "Cardo", serif;
  margin-left: 15%;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* title styling */
.category > p {
  margin-top: 50px;
  color: #4A55A2;
  font-size: 20pt;
}

.category > p:hover {
  opacity: 0.5;
  transition: 0.5s;
}
/* End of title Styling */

hr {
  margin-top: 5px;
}

/* Image hovering animation */

.img_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 50px;

}

.card img {
  width: 300px;
  height: 100%;
}

.card {
  height: 465px;
  box-shadow: 10px 10px 8px #9db2bf;
}

.intro {
  visibility: hidden;
  height: 0px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
}

.intro2 {
  visibility: hidden;
  height: 0px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
}

.intro3 {
  visibility: hidden;
  height: 0px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  visibility: visible;
  height: 50px;
  bottom: -662px;
  background: #c5dff8;
  opacity: 0.9;
}

.card:hover .intro2 {
  visibility: visible;
  height: 50px;
  bottom: -1334px;
  background: #c5dff8;
  opacity: 0.9;
}

.card:hover .intro3 {
  visibility: visible;
  height: 50px;
  bottom: -2006px;
  background: #c5dff8;
  opacity: 0.9;
}

.card p {
  margin-top: 10px;
  text-align: center;
  color: black;
}

/* End of image hovering animation */

/* Start of subscription styling */
.subscribe-container {
  margin-top: 60px;
  padding: 40px;
  gap: 40px;
  background-color: #f6f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe-container .subscribe-input-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  width: 90%;
  font-size: 32px;
  color: #4A55A2;
  font-family: "Cardo", serif;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe-title > hr {
  width: 30%;
  position: relative;
  margin-left: 35%;
  border-color: #4A55A2;
  height: 1px;
  border-top: 1px;
  opacity: 50%;
}

.subscribe-input {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.subscribe-input input {
  width: 50%;
  font-family: "Sora", sans-serif;
  padding: 10px;
  opacity: 50%;
}

.subscribe-input button {
  cursor: pointer;
  border-radius: 3px;
  font-family: "Sora", sans-serif;
  font-weight: 500;
  padding: 10px 30px;
  border: none;
  background-color: #4682a9;
  color: white;
}

.subscribe-input button:hover {
  transition: 0.2s ease-out;
  background-color: #91c8e4;
}

/* End of Subscription Styling */

footer {
  font-family: "Cardo", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f1f1;
}

.nav_under {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  color: #4A55A2;
  font-size: 15pt;
  padding-top: 30px;
}

#icon {
  margin-top: 50px;
  display: flex;
  width: 25%;
  justify-content: center;
  padding-bottom: 10px;
  gap: 30px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #f1f0e8;
}

.follow {
  color: #4A55A2;
  font-size: 15pt;
}

#icon i {
  font-size: 16pt;
}

#icon i:hover {
  transition: 0.3s ease-out;
  cursor: pointer;
  color: #91c8e4;
}



@media (max-width: 991px) {
  .burger_bar {
    display:inline-block;
  }


  #nav_container {
    flex-direction: column;
    height: fit-content;
  }

  .nav_info {
    flex-direction: column;
    margin-top: 0;
    opacity: 0;
    height: 0px;
    width: 100%;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: #f1f0e8;
    gap: 20px;

  }

  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .logo label {
    padding-right: 50px;
    font-size: 25pt;
  }

  #nav_container > input:checked ~ .nav_info{
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: .3s ease-out;
  }

  .img_container {
      flex-direction: column;
      gap: 100px;
      align-items: center;
  }
  
  .card:hover .intro {
    visibility: hidden;
  }

  .card:hover .intro2 {
    visibility: hidden;
  }

  .card:hover .intro3 {
    visibility: hidden;
  }
}